.menu {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }
}