.fade__in-right {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    will-change: transform, opacity;
}

/* Laptop */
@media (max-width: 1024px) {}

/* Tablet */
@media (max-width: 768px) {}

/* Mobile */
@media (max-width: 480px) {}

/* Small mobile */
@media (max-width: 360px) {}